/* tag */
h1{
  font-size: 3.2rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
}

h2{
  font-size: 2.5rem;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
}

h3{
  font-size: 2rem;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
}

p, div{
  position: static;
  font-size: 1.5rem;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
}

a{
  text-decoration: none;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
}

/* classes */
.header {
  position: relative;
  background-color: rgb(225, 60, 60);
  align-content: flex-start;
}

.main {
	margin-top: 1rem;
  align-content: flex-start;
}

.li{
  font-size: 1rem;
  display: inline;
  margin: 1.5rem;
  align-content: flex-start;
}

.bordinha {
	border-style:solid;
	border-width: 1rem;
	margin-left: 1rem;
	margin-right: 35rem;
  align-content: flex-start;
}

.corpo{
  background-color: rgb(240,240,240);
  align-content: flex-start;
  display: grid;
  grid-template-rows: 3.5rem 10rem 15rem; 
} 

.imagem{
  display: inline;
  position: relative;
  left: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
}

/* id */
