/* tag */

h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
  margin: 15px;
}
h3{
  font-size: 20px;
  margin: 15px;
}
p, div{
  position: static;
  font-size: 17px;
  margin: 15px;
}
a{
  text-decoration: none;
}

/* classes */
.header {
  position: relative;
  background-color:rgb(225, 60, 60)
}

.main {
	margin-top: 10px;
}

.li{
  font-size: 17px;
}

.bordinha {
	border-style:solid;
	border-width: 2px;
	margin-left: 10px;
	margin-right: 675px;
}

.corpo{
  background-color: rgb(240,240,240)
}

.imagem{
  display: inline;
  position: relative;
  left: 150px;
}

/* id */
