/* tag */
h2, h3{
  font-family: 'Work Sans', sans-serif;
}

h1{
  font-size: 3.2rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  margin-left: 1rem;
  margin-top: 0.1rem;
  display:inline;
}

h2{
  font-size: 2.5rem;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  font-weight: bold;
}

h3{
  font-size: 2rem;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  font-weight: bold;
}

p{
  font-family: 'Roboto', sans-serif;
  position: static;
  font-size: 1.5rem;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  line-height: 1.2;
}

div{
  font-size: 1.5rem;
  margin: 1rem;
  float: none;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  font-family: 'Work Sans', sans-serif;
}

a{
  text-decoration: none;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  color: gray;
  font-size: 1.25rem;
}

input{
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  float: right;
  border: none;
  margin: 0.7rem;
  display: inline;
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;

}

/* classes */
.header {
  position: relative;
  background-color: rgb(225, 60, 60);
  align-content: flex-start;
}

.main {
	margin-top: 1rem;
  align-content: flex-start;
}

.li{
  font-size: 1rem;
  display: inline;
  margin: 0rem;
  align-content: flex-start;

}

.bordinha {
  margin-right: 25rem;
  margin-top: 0.5rem;
  align-content: flex-start;
}

.corpo{
  background-color: lightgray;
  align-content: flex-start;
}

.main{
  display: grid;
  grid-template-columns: 25%, 1fr, 2fr;
  grid-template-rows: 33%, 1fr, 1fr;
}

.LETREIRO {
  font-size: 3rem;
}

.titulo{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.foto_jogo{
  display: inline;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  align-content: flex-start;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.parte_1{
  flex-grow: 1;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.parte_2{
  flex-grow: 1;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

.buscador{
  display: inline;
  position: absolute;
  background-color: rgb(245, 245, 245);
  right: 1rem;
  margin-top: -6.05rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
}

.Principal {
  border-style: solid;
  border-width: 0.0001rem;
  margin-top: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #BDBDBF;
}

.navegador {
  font-size: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-content: flex-start;
  margin-left: 20rem;
  margin-top: 0.1rem;
  display: inline;
  align-content: space-between;
}

/* id */
#home{
  color: black;
  display: inline;
  position: relative;
  border-style: solid;
  float: right;
  margin-top: 1rem;
}

#sobre{
  color: black;
  display: inline;
  position: relative;
  border-style: solid;
  float: right;
  margin-top: 1rem;
}

#contatos{
  color: black;
  display: inline;
  position: relative;
  border-style: solid;
  float: right;
  margin-top: 1rem;
}

.menu {
    color: ;
    display: flex;
    margin: 1rem;
    margin-bottom: 5.25rem;
    margin-top: -0.50rem;
}

.menu-item {
    color: black;
    flex-grow: 1;
    font-size: 1.25rem;
    padding: .25rem;
    position: relative;
}
.submenu {
    color: #B3B3B5;
    position: absolute;
    top: 1.5rem;
    left: -1px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.menu-item:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu-item {
    padding: .25rem;
    color: rgb(110,110,110);
}

.submenu-item:hover {
    color: #000000;
}
