.header {
  position: relative;
  background-color:rgb(225, 60, 60)
}

.buscador{
  font-size: 25px;
  position: absolute;
  width: 50px;
  bottom: 10px;
  right: 30px;
  border-style: solid;
  background-color:rgb(255,255,255);
}

.corpo{
  background-color: rgb(240,240,240)
}

.imagem{
  display: inline;
  position: relative;
  left: 150px;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
  margin: 15px;
}

h3{
  font-size: 20px;
  margin: 15px;
}

p, div{
  position: static;
  font-size: 17px;
  margin: 15px;
}

a{
  text-decoration: none;
}
